:root {
    --color-primary: #212121;
    --color-text: #757575;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-active: #2196F3;
    --color-background: #F5F4FA;
    --color-hero-footer: #2F303A;
    --color-border: #EEEEEE;
    }

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1, h2, h3, p {
    margin: 0;
}

button {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-footer {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 94px 0;
}

.studio-posts {
    display: flex;
    gap: 30px;
}

.icons {
    display: flex;
    gap: 30px;
}

.team-cards {
    display: flex;
    gap: 30px;
}

.container-hero {
    padding: 200px 0;   
}

.container-stdio {
    padding: 94px 0;
}

.container-business {
    padding-bottom: 94px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.header-nav {
    display: flex;
    align-items: center;
}
    
.logo {
    color: var(--color-active);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    padding: 24px 0;
    margin-right: 93px;
}

.logo-heder {
    color: var(--color-black);
}

.logos {
    color: var(--color-active);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    margin-bottom: 20px;
}

.logo-footer {
    color: var(--color-white);
}

.site-nav {
    display: flex;
}

.site-nav .site-link {
    margin-right: 50px;
}

.site-nav .site-link:last-child {
    margin-right: 0;
}

.link {
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: none;
    text-underline-offset: 2px;
}

.site-address {
    display: flex;
    margin-left: auto;
}

.address-link {
    color: var(--color-text);
}

.address-item {
    margin-right: 50px;
}
.address-item:last-child {
    margin-right: 0;
}

.link:hover {
    color: var(--color-active);
}
.link:focus {
    color: var(--color-active);
}

.posts-studio {
    width: 270px;
}

.hero-section {
    text-align: center;
    background-color: var(--color-hero-footer);
}
.hero-title {
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0 ;
    margin-bottom: 30px;
}

.button-title {
    color: var(--color-white);
    background-color: #2196F3;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    padding: 10px 32px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.service-button {
    min-width: 73px;
    padding: 6px 22px;
    color: var(--color-primary);
    background-color: var(--color-background);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border-radius: 4px;
    border: none;
}

.service-button:hover {
    background-color: var(--color-active);
    color: var(--color-white);
} 

.service-button:focus {
    background-color: var(--color-active);
    color: var(--color-white);
}

.post-studio {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.text-studio {
    color: var(--color-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.post-business {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.section-teams {
    background-color: var(--color-background);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-info {
    padding: 30px 32px;
}

.post-teams {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team-card {
    background-color: var(--color-white);
    border-bottom: 1px solid #EEEEEE;
}

.team-person {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px
}

.text-person {
    color: var(--color-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.post-service {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.text-service {
    color: var(--color-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

.services-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.services-card {
    background-color: var(--color-white);
}

.services-info {
    padding: 20px 24px;
    border-right: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);}


.address-line:not(:last-child) {
    margin-bottom: 9px;
}

.address {
    font-style: normal;
}

.address-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--color-white);
    text-decoration: none;
}

.address-footer:hover {
    color: var(--color-active);
}
.address-footer:focus {
    color: var(--color-active);
}
.footer-color {
    background-color: var(--color-hero-footer);
    padding-top: 60px;
    padding-bottom: 60px;
}